/*  your css code here. If applicable */
.grid-container {
      display: grid;
      grid-template-columns: 100px 100px 100px;
      visibility: hidden;
      gap: 5px;
      margin-top: 20px;
    }

    .grids {
      background-color: aquamarine;
      width: 100px;
      height: 100px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      cursor: pointer;
    }

    .main-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      text-align: center;
      padding-top: 0;
    }

    .message {
      font-size: 1.2em;
      margin-bottom: 10px;
    }